<div class="py-4 px-8 hover:bg-gray-50 group flex items-center justify-between">
  <div class="hidden space-y-2 animate-pulse">
    <div class="h-4 w-10 bg-gray-100 rounded-md"></div>
    <div class="h-8 w-32 bg-gray-100 rounded-md"></div>
  </div>
  <div>
    <%= raw(Oversee::FieldComponent.new(kind: :label, datatype: datatype, key: key).call(view_context: nil)) %>
  </div>
</div>
