<div class="p-8">
  <div class="flex items-center justify-between">
    <div>
      <p class="text-xs uppercase font-medium text-gray-400">Resource</p>
      <h1 class="text-xl"><%= params[:resource] %></h1>
    </div>

    <%= link_to 'Add new', "", class: "inline-flex items-center justify-center py-2 px-6 rounded bg-blue-500 text-white text-sm" %>
  </div>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr class="divide-x divide-gray-200">
              <% @klass.columns_hash.each do |key, value| %>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900"><%= key %></th>
              <% end %>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @resources.each do |resource| %>
              <tr class="divide-x divide-gray-200">
                <% @klass.columns_hash.each do |key, metadata| %>
                  <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                    <%= raw(Oversee::FieldComponent.new(datatype: metadata.sql_type_metadata.type, value: resource.send(key)).call(view_context: nil)) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>