<div class="p-8">
  <div class="flex items-center justify-between">
    <div>
      <p class="text-xs uppercase font-medium text-gray-400">New</p>
      <h1 class="text-xl"><%= params[:resource] %></h1>
    </div>
  </div>
</div>
