<div class="bg-gray-50 h-full border-r relative p-4">
  <div class="">
    <%= link_to 'â† Return to app', main_app.root_path, class: "text-sm flex items-center justify-center bg-white hover:shadow-sm py-2 rounded-md border" %>
  </div>

  <div class="overflow-y-scroll my-4">
    <p class="font-semibold mb-2 text-sm">Resources</p>
    <ul>
      <% ApplicationRecord.descendants.map(&:to_s).sort.each do |resource_name| %>
        <li class="flex">
          <a href="<%= resources_path(resource: resource_name) %>" class="group flex items-center space-x-1.5 rounded-md hover:bg-gray-100 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="group-hover:text-gray-500 text-gray-400 w-4 h-4 transition-colors duration-75">
              <path d="M3.75 3A1.75 1.75 0 002 4.75v3.26a3.235 3.235 0 011.75-.51h12.5c.644 0 1.245.188 1.75.51V6.75A1.75 1.75 0 0016.25 5h-4.836a.25.25 0 01-.177-.073L9.823 3.513A1.75 1.75 0 008.586 3H3.75zM3.75 9A1.75 1.75 0 002 10.75v4.5c0 .966.784 1.75 1.75 1.75h12.5A1.75 1.75 0 0018 15.25v-4.5A1.75 1.75 0 0016.25 9H3.75z" />
            </svg>
            <p class="text-sm text-gray-700 group-hover:text-gray-900"><%= resource_name %></p>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="absolute bottom-0 w-full text-xs flex items-center justify-center py-3 bg-gray-50 border-t -mx-4">
    <p>Powered by <a href="https://github.com/primevise/oversee" class="text-blue-500 hover:underline" target="_blank">Oversee</a></p>
  </div>
</div>