<div class="p-8">
  <div class="flex items-center justify-between">
    <div>
      <p class="text-xs uppercase font-medium text-gray-400">Dashboard</p>
      <h1 class="text-xl">Welcome</h1>
    </div>
  </div>
</div>

<% if Oversee.card_class_names.present? %>
  <div class="p-8">
    <div class="grid grid-cols-4 gap-4">
      <% Oversee.card_class_names.each do |card_name| %>
        <%= render Oversee::CardComponent.new(card_name: card_name) %>
      <% end %>
    </div>
  </div>
<% end %>
